<app-top></app-top>
<div *ngIf="gameGoing; else endOfGame">
    <app-panel (finishGameEvent)="finishGame($event)"></app-panel>
</div>

<ng-template #endOfGame>
    <div *ngIf="gameResult === 'lost'; else gameWon">
        <div class="container" style="margin-top: 50px">
            <div class="row">
                <div class="col">
                    <h3 style="color: red">Game ended, unfortunely you lost. But do not worry, you can try yet again!</h3>
                    <button class="btn btn-primary" (click)="clearGame()">Try Again!</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #gameWon>
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col">
                <h3 style="color: rgb(0, 0, 0)">Congratulations, you Won this little game!</h3>
                <button class="btn btn-primary" (click)="clearGame()">Try Again!</button>
            </div>
        </div>
    </div>
</ng-template>